.center-align{
  text-align: center;
}

.center-position{
  float: none;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}

.input-group{
  padding-bottom: 5px;
}

.required_field{
  color: red;
  font-size: 12px;
  float: left;
  padding-left: 10px;
  padding-bottom: 8px;
}
