.footer-container {
    background-color: #282c34;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-flex;

    .fa-home, .fa-book, .fa-graduation-cap, .fa-users, .fa-map-marker, .fa-chevron-up{
        color: #FFF !important;
        margin-right: 25px;
    }:hover{
        color: #007bff !important;
    }

    .footer-menu{
        text-align: center;
        padding-top: 5px;
        font-size: 25px;
        width: 100%;
    }

    .top-menu{
        text-align: right;
        padding-top: 5px;
        font-size: 25px;
    }
}
.main-nav-active{
    .fa-home, .fa-book, .fa-graduation-cap, .fa-users, .fa-map-marker, .fa-chevron-up{
        color: #007bff !important;
    }
}
