.center-position{
  float: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  button {
    margin-right: 10px;
  }
}
.custom-container{
  margin-bottom: 50px;
}
.card-text a:hover {
  cursor: pointer;
}
.card-title{
  margin-bottom: 0px;
  min-height: 50px;
}
.card-text{
  margin-top: 5px;
  margin-bottom: 0px;
}
