body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* custom scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    padding-top: 20px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar-thumb
  {
    background-color: #282c34;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1, #282c34), color-stop(0.5, transparent), to(transparent));
  }
