.custom-container{
  margin-bottom: 15px;
  .custom-height{
    max-height: 550px;
    overflow-x: auto;
  }
}
.center-position{
  margin-bottom: 0px;
}
.custom-view-users,
.custom-edit-users,
.custom-trash-users{
  font-size: 30px !important;
  padding-right: 10px;
}

.custom-trash-users{
  color: #dc3545;
}

.custom-edit-users{
  color: #ffc107;
}

.custom-view-users{
  color: #007bff;
}

.custom-trash-courses{
  font-size: 30px !important;
  padding-left: 50px;
  padding-top: 5px;
  color: #dc3545;
}
.custom-trash-books{
  font-size: 20px !important;
  color: #dc3545;

}
.custom-add{
  font-size: 20px !important;
  color: #007bff;
}

.custom-settings, .custom-long-arrow{
  font-size: 20px !important;
  color: black;
}

.custom-trash-courses,
.custom-trash-books,
.custom-add{
  margin-left: 5px;
}

.custom-view-users,
.custom-edit-users,
.custom-trash-users,
.custom-trash-books,
.custom-add{
  &:hover{
    color: gray;
    cursor: pointer;
  }
}

hr{
  border-top: 1px solid gray;
}

.courses_img{
  height: 80px;
  width: 130px;
}

.view_courses:hover{
  cursor: pointer;
  text-decoration: underline;
}

.view_courses{
  color: #007bff;
}

ul{
  padding-left: 10px;
}

li{
  list-style-type: none;
}

li>span{
  font-weight: bold;
}

.show-buttons{
  margin-left: 10px;
}
.popup-container{
  text-align: center
}
.fixed-panel{
  height: 635px;
  overflow-x: auto;
}
.border-right{
  border-right: 1px solid #8080804a;
}
.pagination-container{
  padding-bottom: 20px;

  .show-pagination-label{
    padding-right: 15px;
  }

  .pagination-select{
    height: 30px;
    width: 70px;
  }
}
