.header-body {
  background-color: #282c34;
  min-height: 60px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url('../../../logo_header.png');
}

.header-title{
  top: 0;
  position: absolute;
  width: 100%;
  opacity: 0.8;
  text-align: center;
  padding-bottom: 15px;
  background-color: #282c34;
  color: #FFF;
}

.datetime{
  text-align: right;
  position: absolute;
  top: 0;
  width: 100%;
  color: #FFF;
  padding-top: 20px;
  padding-right: 20px;
}
